<h1 class="store-list__title">Tienda</h1>

<div class="store-list__load-container" *ngIf="loadingProducts">
  <strong>Cargando</strong>
  &nbsp;
  <mat-spinner color="accent" mode="indeterminate" [diameter]="30"></mat-spinner>
</div>

<div *ngIf="error" class="center-align">
  Error de servidor. Detalles: {{ error }}
  <br>
  <button mat-raised-button color="primary" (click)="load()">
    Recargar <mat-icon>refresh</mat-icon>
  </button>
</div>

<ng-container *ngIf="showProducts">
  <div class="store-list__discount-filter-container">
    <app-store-discount-filter (filterChange)="filterChange($event)"></app-store-discount-filter>
  </div>

  <div class="store-list__products-container" *ngIf="thereAreProducts">
    <ng-container *ngFor="let product of products">
      <div class="store-list__product">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </ng-container>
  </div>

  <div *ngIf="!thereAreProducts" class="center-align">
    No hay productos en la tienda.
    &nbsp;
    <a routerLink="/new-product">
      <button mat-raised-button color="primary">Empieza creando uno</button>
    </a>
  </div>
</ng-container>

<app-add-product-button></app-add-product-button>
