.store-list__title {
  text-align: center;
}

.store-list__load-container {
  padding: 15px;
  text-align: center;

  mat-spinner {
    display: inline-block;
    vertical-align: middle;
  }
}

.store-list__discount-filter-container {
  text-align: center;
}

.store-list__products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .store-list__product {
    padding: 10px;
    width: 100%;
    max-width: 250px;
  }
}

