<h1 style="text-align: center;">Proceso de pago</h1>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [optional]="false" [completed]="cartCompleted" [editable]="cartEditable">
    <ng-template matStepLabel>Carrito</ng-template>
    <app-cart (goToCheckout)="evolvePaymentProcess()"></app-cart>
  </mat-step>
  <mat-step [optional]="false" [completed]="checkoutCompleted" [editable]="checkoutEditable">
    <ng-template matStepLabel>Checkout</ng-template>
    <app-checkout
      (goToCheckout)="sendBackPaymentProcess()"
      (goToOrder)="evolvePaymentProcess()"
    ></app-checkout>
  </mat-step>
  <mat-step [optional]="false">
    <ng-template matStepLabel>Orden</ng-template>
    <app-order *ngIf="isInOrder"></app-order>
  </mat-step>
</mat-horizontal-stepper>
