<h1 style="text-align: center;">Agregar nuevo producto</h1>

<div class="new-product-form__load-container" *ngIf="saving">
  <strong>Guardando</strong>
  &nbsp;
  <mat-spinner color="accent" mode="indeterminate" [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="new-product-form" [ngClass]="{ 'hide': !showForm }" style="text-align: center;">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input
      matInput
      formControlName="name"
      type="text"
      autocomplete="new-product-name"/>
    <mat-error *ngIf="name.invalid">Nombre de producto inválido.</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <span matPrefix>$ &nbsp;</span>
    <input
      matInput
      formControlName="price"
      type="number"
      autocomplete="new-product-price" />
    <mat-error *ngIf="price.invalid">Precio de producto inválido.</mat-error>
  </mat-form-field>
  <br>

  <mat-slide-toggle (change)="toggleDiscount($event)">Con descuento</mat-slide-toggle>
  <div>&nbsp;</div>

  <mat-accordion>
    <mat-expansion-panel #discountPanel="matExpansionPanel" class="new-product-form__discount-panel">
      <div class="new-product-form__discount-container">
        <mat-label>Descuento: {{ discountFormated }}</mat-label>
        <br>
        <mat-slider
          thumbLabel
          [displayWith]="formatPercentageLabel"
          tickInterval="5"
          min="0"
          max="100"
          (change)="changeDiscountPercentage($event)"
        ></mat-slider>
      </div>

      <mat-form-field>
        <mat-label>Inicio del descuento</mat-label>
        <input matInput formControlName="discountStartDate" [matDatepicker]="discountStartDate">
        <mat-datepicker-toggle matSuffix [for]="discountStartDate"></mat-datepicker-toggle>
        <mat-datepicker #discountStartDate></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Fin del descuento</mat-label>
        <input matInput formControlName="discountEndDate" [matDatepicker]="discountEndDate">
        <mat-datepicker-toggle matSuffix [for]="discountEndDate"></mat-datepicker-toggle>
        <mat-datepicker #discountEndDate></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-error *ngIf="discountDatesOutOfRange">
        Periodo de descuento inválido. El fin del descuento debe ser mayor al de inicio.
      </mat-error>
    </mat-expansion-panel>
  </mat-accordion>
  <br>

  <a routerLink="/">
    <button type="button" mat-stroked-button color="primary">
      Volver a la tienda
    </button>
  </a>
  &nbsp;
  <button type="submit" mat-raised-button color="primary" [disabled]="isFormInvalid">
    Guardar <mat-icon>save</mat-icon>
  </button>

</form>
