.new-product-form__load-container {
  text-align: center;

  mat-spinner {
    display: inline-block;
    vertical-align: middle;
  }
}

.new-product-form {
  &.hide {
    display: none;
  }
}

.new-product-form__discount-panel {
  .new-product-form__discount-container {
    padding-top: 10px;
    padding-bottom: 17px;
  }
}
