<table class="table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.cuantity }}</td>
      <td>{{ product.total }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <strong>Total:</strong> {{ total }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <strong>Pagado con tarjeta de crédito terminada en {{ creditCardNumberHidden }}</strong>
      </td>
    </tr>
  </tbody>
</table>

<a routerLink="/">
  <button color="primary" mat-raised-button>Seguir comprando</button>
</a>
