<h1 mat-dialog-title>Ayuda</h1>
<div mat-dialog-content>
  <markdown [data]="help"></markdown>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="" cdkFocusInitial color="primary">Ok</button>
</div>
