.app-header {
  background-color: #3f51b5;
  border-radius: 0px;

  .app-header__flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 70px;

    .app-header__logo-container {
      width: 70px;
      height: 65px;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: center;
      color: white;
      font-size: 17px;

      .app-header__logo {
        width: 60px;
        height: auto;
      }
    }

    .app-header__cart-button {
      color: white;
    }
  }
}
