<mat-card class="app-header">
  <div class="app-header__flex-container">
    <div class="app-header__logo-container">
      Cocs Store
      <a routerLink="/">
        <img class="app-header__logo" src="/assets/coco.png" alt="aguita de coco">
      </a>
    </div>
    <a routerLink="/payment">
      <button mat-icon-button color="accent" class="app-header__cart-button">
        <mat-icon [matBadge]="productsInCart" matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
    </a>
  </div>
</mat-card>
