<mat-form-field>
  <mat-label>Ordenar por descuento</mat-label>
  <mat-select [formControl]="list">
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.display }}
    </mat-option>
  </mat-select>
</mat-form-field>
