<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ product.description }}</p>
    <table class="table">
      <tbody>
        <tr>
          <td><strong>Precio:</strong></td>
          <td>
            <span [ngClass]="{'price-with-discount': productHasDiscount}">
              ${{ product.price }}
            </span>
            <br>
            <ng-container *ngIf="productHasDiscount">
              ${{ priceWithDiscount }}
            </ng-container>
          </td>
        </tr>
        <ng-container *ngIf="product.discount">
          <tr>
            <td><strong>Descuento:</strong></td>
            <td>{{ product.discount.percentage }}%</td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Vigencia:</strong>
              <br>
              {{ discountPeriod }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="addToCart()">
      Añadir a carrito <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
