<form
  [formGroup]="form"
  #demoForm="ngForm"
  (ngSubmit)="onSubmit()"
  novalidate
  style="text-align: center;"
>
  <mat-form-field>
    <mat-label>Tarjeta de crédito</mat-label>
    <input
      matInput
      id="cc-number"
      formControlName="creditCard"
      type="tel"
      autocomplete="cc-number"
      ccNumber />
    <mat-error *ngIf="invalidCreditCard">Número de tarjeta de crédito inválida</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Fecha de expiración</mat-label>
    <input
      matInput
      id="cc-exp-date"
      formControlName="expirationDate"
      type="tel"
      autocomplete="cc-exp"
      ccExp>
    <mat-error *ngIf="invalidExpirationDate">Fecha de expiración inválida</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>CCV</mat-label>
    <input
      matInput
      id="cc-cvc"
      formControlName="cvc"
      type="tel"
      autocomplete="off"
      ccCvc>
    <mat-error *ngIf="invalidCvc">Valor CVC inválido</mat-error>
  </mat-form-field>

  <p style="font-style: italic;">*Se provee una tarjeta de crédito predeterminada para facilitar el ejercicio.</p>

  <br>

  <button type="button" mat-stroked-button color="primary" (click)="goToCheckoutClick()">
    <mat-icon>chevron_left</mat-icon> Checkout
  </button>
  &nbsp;
  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
    Orden <mat-icon>chevron_right</mat-icon>
  </button>
</form>
