<table class="table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Descuento</th>
      <th>Total</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!hasProducts">
      <td colspan="6" style="text-align: center;">
        No hay productos agregados al carrito,
        <br>
        <a routerLink="/">
          <button mat-raised-button color="primary">Agregar productos</button>
        </a>
      </td>
    </tr>
    <ng-container *ngIf="hasProducts">
      <tr *ngFor="let product of cart">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>${{ product.price }}</td>
        <td>{{ getDiscount(product) }}</td>
        <td>{{ getProductTotal(product) }}</td>
        <td>
          <button mat-icon-button (click)="removeProductFromCart(product)" color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td><strong>Total:</strong></td>
        <td colspan="5">${{ total }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<br>
<a routerLink="/">
  <button mat-stroked-button>
    <mat-icon>chevron_left</mat-icon> Seguir comprando
  </button>
</a>
&nbsp;
<button
  (click)="goToCheckoutClick()"
  mat-raised-button color="primary"
  [disabled]="!hasProducts"
>
  Checkout <mat-icon>chevron_right</mat-icon>
</button>
