.app__router-outlet-container {
  background-color: white;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  min-height: calc(100vh - 70px);
  padding-top: 1px; // Avoid collapsing margin
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
}
